<div>
  <h2 id="page-heading" data-cy="InventoryHeading">
    <span>Inventories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <!--
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-inventory"
        [routerLink]="['/inventory/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Inventory</span>
      </button>
      -->
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (inventories?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Inventories found</span>
    </div>
  }

  @if (inventories && inventories.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <!--
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            -->
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span>Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="partnumber">
              <div class="d-flex">
                <span>Part Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span>Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span>Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span>Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <!--
            <th scope="col" jhiSortBy="classification1">
              <div class="d-flex">
                <span>Classification 1</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            -->
            <th scope="col" jhiSortBy="classification2">
              <div class="d-flex">
                <span>Classification 2</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <!--
            <th scope="col" jhiSortBy="classification3">
              <div class="d-flex">
                <span>Classification 3</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="classification4">
              <div class="d-flex">
                <span>Classification 4</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="classification5">
              <div class="d-flex">
                <span>Classification 5</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            -->
            <th scope="col" jhiSortBy="unitofmeasurement">
              <div class="d-flex">
                <span>Unit of Measurement</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="decimalplaces" class="text-end">
              <div class="d-flex">
                <span>Decimal Places</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isassemblyunit">
              <div class="d-flex">
                <span>Is Assembly Unit</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="assemblyunitof" class="text-end">
              <div class="d-flex">
                <span>Assembly Unit Of</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reorderlevel" class="text-end">
              <div class="d-flex">
                <span>Reorder Level</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastcost" class="text-end">
              <div class="d-flex">
                <span>Last Cost</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastsellingprice" class="text-end">
              <div class="d-flex">
                <span>Last Selling Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lmu">
              <div class="d-flex">
                <span>LMU</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lmd">
              <div class="d-flex">
                <span>LMD</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="availablequantity" class="text-end">
              <div class="d-flex">
                <span>Available Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hasbatches">
              <div class="d-flex">
                <span>Has Batches</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="itemspecfilepath">
              <div class="d-flex">
                <span>Item Spec File Path</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="itemimagepath">
              <div class="d-flex">
                <span>Item Image Path</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="returnprice" class="text-end">
              <div class="d-flex">
                <span>Return Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="activeitem">
              <div class="d-flex">
                <span>Active Item</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="minstock" class="text-end">
              <div class="d-flex">
                <span>Min Stock</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="maxstock" class="text-end">
              <div class="d-flex">
                <span>Max Stock</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dailyaverage" class="text-end">
              <div class="d-flex">
                <span>Daily Average</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bufferlevel" class="text-end">
              <div class="d-flex">
                <span>Buffer Level</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="leadtime" class="text-end">
              <div class="d-flex">
                <span>Lead Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="buffertime" class="text-end">
              <div class="d-flex">
                <span>Buffer Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="saftydays" class="text-end">
              <div class="d-flex">
                <span>Safety Days</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="accountcode">
              <div class="d-flex">
                <span>Account Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="accountid" class="text-end">
              <div class="d-flex">
                <span>Account ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="casepackqty" class="text-end">
              <div class="d-flex">
                <span>Case Pack Qty</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isregistered">
              <div class="d-flex">
                <span>Is Registered</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="defaultstocklocationid" class="text-end">
              <div class="d-flex">
                <span>Default Stock Location ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="rackno">
              <div class="d-flex">
                <span>Rack No</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="barcodeimage">
              <div class="d-flex">
                <span>Barcode Image</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="commissionempid" class="text-end">
              <div class="d-flex">
                <span>Commission Emp ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="checktypeid" class="text-end">
              <div class="d-flex">
                <span>Check Type ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="checktype">
              <div class="d-flex">
                <span>Check Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reorderqty" class="text-end">
              <div class="d-flex">
                <span>Reorder Qty</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="notininvoice">
              <div class="d-flex">
                <span>Not In Invoice</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (inventory of inventories; track trackId(inventory)) {
            <tr data-cy="entityTable">
              <!--
              <td>
                <a [routerLink]="['/inventory', inventory.id, 'view']">{{ inventory.id }}</a>
              </td>
              -->
              <td>{{ inventory.code }}</td>
              <td>{{ inventory.partnumber }}</td>
              <td>{{ inventory.name }}</td>
              <td>{{ inventory.description }}</td>
              <td>{{ getInventoryTypeName(inventory.type) }}</td>
              <!-- <td>{{ inventory.classification1 }}</td> -->
              <td>{{ getClassification2Name(inventory.classification2) }}</td>
              <!--
              <td>{{ inventory.classification3 }}</td>
              <td>{{ inventory.classification4 }}</td>
              <td>{{ inventory.classification5 }}</td>
              -->
              <td class="text-end">{{ inventory.unitofmeasurement }}</td>
              <td class="text-end">{{ inventory.decimalplaces }}</td>
              <td>{{ inventory.isassemblyunit }}</td>
              <td class="text-end">{{ inventory.assemblyunitof }}</td>
              <td class="text-end">{{ inventory.reorderlevel }}</td>
              <td class="text-end">{{ inventory.lastcost | number: '1.2-2' }}</td>
              <td class="text-end">{{ inventory.lastsellingprice | number: '1.2-2' }}</td>
              <td>{{ inventory.lmu }}</td>
              <td>{{ inventory.lmd | formatMediumDatetime }}</td>
              <td class="text-end">{{ inventory.availablequantity }}</td>
              <td>{{ inventory.hasbatches }}</td>
              <td>{{ inventory.itemspecfilepath }}</td>
              <td>{{ inventory.itemimagepath }}</td>
              <td class="text-end">{{ inventory.returnprice | number: '1.2-2' }}</td>
              <td>{{ inventory.activeitem }}</td>
              <td class="text-end">{{ inventory.minstock }}</td>
              <td class="text-end">{{ inventory.maxstock }}</td>
              <td class="text-end">{{ inventory.dailyaverage }}</td>
              <td class="text-end">{{ inventory.bufferlevel }}</td>
              <td class="text-end">{{ inventory.leadtime }}</td>
              <td class="text-end">{{ inventory.buffertime }}</td>
              <td class="text-end">{{ inventory.saftydays }}</td>
              <td>{{ inventory.accountcode }}</td>
              <td class="text-end">{{ inventory.accountid }}</td>
              <td class="text-end">{{ inventory.casepackqty }}</td>
              <td>{{ inventory.isregistered }}</td>
              <td class="text-end">{{ inventory.defaultstocklocationid }}</td>
              <td>{{ inventory.rackno }}</td>
              <td>
                @if (inventory.barcodeimage) {
                  <a (click)="openFile(inventory.barcodeimage, inventory.barcodeimageContentType)">
                    <img
                      [src]="'data:' + inventory.barcodeimageContentType + ';base64,' + inventory.barcodeimage"
                      style="max-height: 30px"
                      alt="inventory"
                    />
                  </a>
                  <span>{{ inventory.barcodeimageContentType }}, {{ byteSize(inventory.barcodeimage) }}</span>
                }
              </td>
              <td class="text-end">{{ inventory.commissionempid }}</td>
              <td class="text-end">{{ inventory.checktypeid }}</td>
              <td>{{ inventory.checktype }}</td>
              <td class="text-end">{{ inventory.reorderqty }}</td>
              <td>{{ inventory.notininvoice }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/inventory', inventory.id, 'view']"
                    class="btn btn-info btn-sm rac-action-button"
                    data-cy="entityDetailsButton"
                  >
                    <img class="rac-action-icon rac-view-action-icon" src="content/images/autocare-actions/view.png" alt="View" />
                  </a>

                  <!--
                  <a
                    [routerLink]="['/inventory', inventory.id, 'edit']"
                    class="btn btn-primary btn-sm rac-action-button"
                    data-cy="entityEditButton"
                  >
                    <img class="rac-action-icon" src="content/images/autocare-actions/edit.png" alt="Edit" />
                  </a>
                  -->

                  <button
                    type="submit"
                    (click)="delete(inventory)"
                    class="btn btn-danger btn-sm rac-action-button"
                    data-cy="entityDeleteButton"
                  >
                    <img class="rac-action-icon" src="content/images/autocare-actions/delete.png" alt="Delete" />
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (inventories && inventories.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
