<div>
  <h2 id="page-heading" data-cy="AutocareservicemillagesHeading">
    <span>Autocareservicemillages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-autocareservicemillages"
        [routerLink]="['/autocareservicemillages/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Autocareservicemillages</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (autocareservicemillages?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Autocareservicemillages found</span>
    </div>
  }

  @if (autocareservicemillages && autocareservicemillages.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="millage">
              <div class="d-flex">
                <span>Millage</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (autocareservicemillages of autocareservicemillages; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/autocareservicemillages', autocareservicemillages.id, 'view']">{{ autocareservicemillages.id }}</a>
              </td>
              <td>{{ autocareservicemillages.millage }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/autocareservicemillages', autocareservicemillages.id, 'view']"
                    class="btn btn-info btn-sm rac-action-button"
                    data-cy="entityDetailsButton"
                  >
                    <img class="rac-action-icon rac-view-action-icon" src="content/images/autocare-actions/view.png" alt="View" />
                  </a>

                  <a
                    [routerLink]="['/autocareservicemillages', autocareservicemillages.id, 'edit']"
                    class="btn btn-primary btn-sm rac-action-button"
                    data-cy="entityEditButton"
                  >
                    <img class="rac-action-icon" src="content/images/autocare-actions/edit.png" alt="Edit" />
                  </a>

                  <button
                    type="submit"
                    (click)="delete(autocareservicemillages)"
                    class="btn btn-danger btn-sm rac-action-button"
                    data-cy="entityDeleteButton"
                  >
                    <img class="rac-action-icon" src="content/images/autocare-actions/delete.png" alt="Delete" />
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (autocareservicemillages && autocareservicemillages.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
