<div class="container-fluid autocare-open-job-page px-2 px-md-3">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        [class.active]="activeMainTab === 'ongoing'"
        id="billing-tab"
        href="#billing"
        role="tab"
        aria-controls="billing"
        [attr.aria-selected]="activeMainTab === 'ongoing'"
        (click)="$event.preventDefault(); selectMainTab('ongoing')"
      >
        On Going Jobs
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        [class.active]="activeMainTab === 'closed'"
        id="service-charges-tab"
        href="#service-charges"
        role="tab"
        aria-controls="service-charges"
        [attr.aria-selected]="activeMainTab === 'closed'"
        (click)="$event.preventDefault(); selectMainTab('closed')"
      >
        Closed Jobs
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        [class.active]="activeMainTab === 'jobByDate'"
        id="job-by-date-tab"
        href="#job-by-date"
        role="tab"
        aria-controls="job-by-date"
        [attr.aria-selected]="activeMainTab === 'jobByDate'"
        (click)="$event.preventDefault(); selectMainTab('jobByDate')"
      >
        Job by Date
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content mt-3">
    <div
      class="tab-pane fade"
      [class.show]="activeMainTab === 'ongoing'"
      [class.active]="activeMainTab === 'ongoing'"
      id="billing"
      role="tabpanel"
      aria-labelledby="billing-tab"
    >
      <div>
        <h2 id="page-heading" data-cy="AutocarejobHeading">
          <div class="d-flex justify-content-between align-items-center mt-2 mb-3">
            <input
              type="text"
              class="form-control open-job-search"
              [(ngModel)]="searchText"
              (input)="filterJobs()"
              placeholder="Search by Vehicle Number"
            />
            <div class="d-flex gap-2" *ngIf="false">
              <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
                <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
                <span>Refresh list</span>
              </button>

              <button
                id="jh-create-entity"
                data-cy="entityCreateButton"
                class="btn btn-primary jh-create-entity create-autocarejob"
                [routerLink]="['/autocarejob/new']"
              >
                <fa-icon icon="plus"></fa-icon>
                <span>Create a new Autocarejob</span>
              </button>
            </div>
          </div>
        </h2>

        <!-- <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert> -->

        @if (autocarejobs?.length === 0) {
        <div class="alert alert-warning" id="no-result">
          <span>No Autocarejobs found</span>
        </div>
        } @if (autocarejobs && autocarejobs.length > 0) {
        <div class="table-responsive table-entities open-job-table-wrap" id="entities">
          <table class="table open-job-table" aria-describedby="page-heading">
            <thead>
              <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
                <!-- <th scope="col" jhiSortBy="id">
                  <div class="d-flex">
                    <span>ID</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th> -->
                <th scope="col" jhiSortBy="jobnumber">
                  <div class="d-flex">
                    <span>Jobnumber</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="vehicleid" *ngIf="false">
                  <div class="d-flex">
                    <span>Vehicleid</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="vehiclenumber">
                  <div class="d-flex">
                    <span>Vehiclenumber</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="millage">
                  <div class="d-flex">
                    <span>Millage</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="nextmillage">
                  <div class="d-flex">
                    <span>Nextmillage</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="nextservicedate" *ngIf="false">
                  <div class="d-flex">
                    <span>Nextservicedate</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="vehicletypeid" *ngIf="false">
                  <div class="d-flex">
                    <span>Vehicletypeid</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="jobtypeid" *ngIf="false">
                  <div class="d-flex">
                    <span>Jobtypeid</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="jobtypename">
                  <div class="d-flex">
                    <span>Jobtypename</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="jobopenby" *ngIf="false">
                  <div class="d-flex">
                    <span>Jobopenby</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="jobopentime" *ngIf="false">
                  <div class="d-flex">
                    <span>Jobopentime</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="lmu" *ngIf="false">
                  <div class="d-flex">
                    <span>Lmu</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="lmd" *ngIf="false">
                  <div class="d-flex">
                    <span>Lmd</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="specialrquirments" *ngIf="false">
                  <div class="d-flex">
                    <span>Specialrquirments</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="specialinstructions" *ngIf="false">
                  <div class="d-flex">
                    <span>Specialinstructions</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="remarks" *ngIf="false">
                  <div class="d-flex">
                    <span>Remarks</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="nextserviceinstructions" *ngIf="false">
                  <div class="d-flex">
                    <span>Nextserviceinstructions</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="lastserviceinstructions" *ngIf="false">
                  <div class="d-flex">
                    <span>Lastserviceinstructions</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="isadvisorchecked" *ngIf="false">
                  <div class="d-flex">
                    <span>Isadvisorchecked</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="isempallocated" *ngIf="false">
                  <div class="d-flex">
                    <span>Isempallocated</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="jobclosetime" *ngIf="false">
                  <div class="d-flex">
                    <span>Jobclosetime</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="isjobclose" *ngIf="false">
                  <div class="d-flex">
                    <span>Isjobclose</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="isfeedback" *ngIf="false">
                  <div class="d-flex">
                    <span>Isfeedback</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="feedbackstatusid" *ngIf="false">
                  <div class="d-flex">
                    <span>Feedbackstatusid</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="customername">
                  <div class="d-flex">
                    <span>Customername</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="customertel" *ngIf="false">
                  <div class="d-flex">
                    <span>Customertel</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="customerid" *ngIf="false">
                  <div class="d-flex">
                    <span>Customerid</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="advisorfinalcheck" *ngIf="false">
                  <div class="d-flex">
                    <span>Advisorfinalcheck</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="jobdate">
                  <div class="d-flex">
                    <span>Jobdate</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="iscompanyservice" *ngIf="false">
                  <div class="d-flex">
                    <span>Iscompanyservice</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="freeservicenumber" *ngIf="false">
                  <div class="d-flex">
                    <span>Freeservicenumber</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="companyid" *ngIf="false">
                  <div class="d-flex">
                    <span>Companyid</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="updatetocustomer" *ngIf="false">
                  <div class="d-flex">
                    <span>Updatetocustomer</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="nextgearoilmilage" *ngIf="false">
                  <div class="d-flex">
                    <span>Nextgearoilmilage</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="isjobinvoiced" *ngIf="false">
                  <div class="d-flex">
                    <span>Isjobinvoiced</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="iswaiting" *ngIf="false">
                  <div class="d-flex">
                    <span>Iswaiting</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="iscustomercomment" *ngIf="false">
                  <div class="d-flex">
                    <span>Iscustomercomment</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <th scope="col" jhiSortBy="imagefolder" *ngIf="false">
                  <div class="d-flex">
                    <span>Imagefolder</span>

                    <fa-icon class="p-1" icon="sort"></fa-icon>
                  </div>
                </th>
                <!--<th scope="col" jhiSortBy="frontimage">
                        <div class="d-flex">
                          <span>Frontimage</span>
          
                          <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                      </th>
                      <th scope="col" jhiSortBy="leftimage">
                        <div class="d-flex">
                          <span>Leftimage</span>
          
                          <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                      </th>
                      <th scope="col" jhiSortBy="rightimage">
                        <div class="d-flex">
                          <span>Rightimage</span>
          
                          <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                      </th>
                      <th scope="col" jhiSortBy="backimage">
                        <div class="d-flex">
                          <span>Backimage</span>
          
                          <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                      </th>
                      <th scope="col" jhiSortBy="dashboardimage">
                        <div class="d-flex">
                          <span>Dashboardimage</span>
          
                          <fa-icon class="p-1" icon="sort"></fa-icon>
                        </div>
                      </th> -->
                <th scope="col" class="open-job-actions-col">
                  <span></span>
                </th>
              </tr>
            </thead>
            <tbody>
              @for (autocarejob of filteredAutocarejobs; track trackId) { @if (filteredAutocarejobs && filteredAutocarejobs.length > 0) {

              <tr data-cy="entityTable">
                <!-- <td>
                  <a [routerLink]="['/autocarejob', autocarejob.id, 'view']">{{ autocarejob.id }}</a>
                </td> -->
                <td>{{ autocarejob.jobnumber }}</td>
                <td *ngIf="false">{{ autocarejob.vehicleid }}</td>
                <td>{{ autocarejob.vehiclenumber }}</td>
                <td>{{ autocarejob.millage }}</td>
                <td>{{ autocarejob.nextmillage }}</td>
                <td *ngIf="false">{{ autocarejob.nextservicedate | formatMediumDate }}</td>
                <td *ngIf="false">{{ autocarejob.vehicletypeid }}</td>
                <td *ngIf="false">{{ autocarejob.jobtypeid }}</td>
                <td>{{ autocarejob.jobtypename }}</td>
                <td *ngIf="false">{{ autocarejob.jobopenby }}</td>
                <td *ngIf="false">{{ autocarejob.jobopentime | formatMediumDatetime }}</td>
                <td *ngIf="false">{{ autocarejob.lmu }}</td>
                <td *ngIf="false">{{ autocarejob.lmd | formatMediumDatetime }}</td>
                <td *ngIf="false">{{ autocarejob.specialrquirments }}</td>
                <td *ngIf="false">{{ autocarejob.specialinstructions }}</td>
                <td *ngIf="false">{{ autocarejob.remarks }}</td>
                <td *ngIf="false">{{ autocarejob.nextserviceinstructions }}</td>
                <td *ngIf="false">{{ autocarejob.lastserviceinstructions }}</td>
                <td *ngIf="false">{{ autocarejob.isadvisorchecked }}</td>
                <td *ngIf="false">{{ autocarejob.isempallocated }}</td>
                <td *ngIf="false">{{ autocarejob.jobclosetime | formatMediumDatetime }}</td>
                <td *ngIf="false">{{ autocarejob.isjobclose }}</td>
                <td *ngIf="false">{{ autocarejob.isfeedback }}</td>
                <td *ngIf="false">{{ autocarejob.feedbackstatusid }}</td>
                <td>{{ autocarejob.customername }}</td>
                <td *ngIf="false">{{ autocarejob.customertel }}</td>
                <td *ngIf="false">{{ autocarejob.customerid }}</td>
                <td *ngIf="false">{{ autocarejob.advisorfinalcheck }}</td>
                <td>{{ autocarejob.jobdate | formatMediumDatetime }}</td>
                <td *ngIf="false">{{ autocarejob.iscompanyservice }}</td>
                <td *ngIf="false">{{ autocarejob.freeservicenumber }}</td>
                <td *ngIf="false">{{ autocarejob.companyid }}</td>
                <td *ngIf="false">{{ autocarejob.updatetocustomer }}</td>
                <td *ngIf="false">{{ autocarejob.nextgearoilmilage }}</td>
                <td *ngIf="false">{{ autocarejob.isjobinvoiced }}</td>
                <td *ngIf="false">{{ autocarejob.iswaiting }}</td>
                <td *ngIf="false">{{ autocarejob.iscustomercomment }}</td>
                <td *ngIf="false">{{ autocarejob.imagefolder }}</td>

                <!--  <td>{{ autocarejob.frontimage }}</td>
                        <td>{{ autocarejob.leftimage }}</td>
                        <td>{{ autocarejob.rightimage }}</td>
                        <td>{{ autocarejob.backimage }}</td> -->

                <td class="text-end open-job-actions-col">
                  <div class="btn-group open-job-actions">
                    @if (needsCustomerRegistration(autocarejob)) {
                    <a
                      [href]="getCustomerRegistrationUrl(autocarejob)"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="btn btn-info btn-sm rac-action-button"
                      title="Register Customer"
                    >
                      <img class="rac-action-icon" src="content/images/autocare-actions/new_customer.jpg" alt="" />
                    </a>
                    } @if (needsVehicleRegistration(autocarejob)) {

                    <a
                      [href]="getVehicleRegistrationUrl(autocarejob)"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="btn btn-secondary btn-sm rac-action-button"
                      title="Register Vehicle"
                    >
                      <img class="rac-action-icon" src="content/images/autocare-actions/new_car.png" alt="" />
                    </a>
                    } @if (!needsCustomerRegistration(autocarejob) && !needsVehicleRegistration(autocarejob)) {
                    <a
                      [routerLink]="['/autocarejob', autocarejob.id, 'view']"
                      class="btn btn-info btn-sm rac-action-button"
                      data-cy="entityDetailsButton"
                      title="View Job"
                    >
                      <img class="rac-action-icon rac-view-action-icon" src="content/images/autocare-actions/view.png" alt="" />
                      <!-- <span class="d-none d-md-inline">View</span> -->
                    </a>
                    }

                    <!-- <a
                      [routerLink]="['/autocarejob', autocarejob.id, 'edit']"
                      class="btn btn-primary btn-sm"
                      data-cy="entityEditButton"
                      title="Edit Job"
                    >
                      <fa-icon icon="pencil-alt"></fa-icon>
                      <span class="d-none d-md-inline">Edit</span>
                    </a> -->

                    <a
                      [routerLink]="['/autocarejob', autocarejob.id, 'instructions']"
                      class="btn btn-warning btn-sm rac-action-button"
                      data-cy="entityEditButton"
                      title="File Instructions"
                    >
                      <img class="rac-action-icon" src="content/images/autocare-actions/FillInstruction.png" alt="" />
                      <!-- <span class="d-none d-md-inline">instruction</span> -->
                    </a>

                    @if (canUpdateAdvisorInstructionItems) {
                    <a
                      [routerLink]="['/autocarejob', autocarejob.id, 'instructions']"
                      [queryParams]="{ tab: 'items', itemsOnly: 'true' }"
                      class="btn btn-secondary btn-sm rac-action-button"
                      data-cy="entityUpdateItemsButton"
                      title="Add Items"
                    >
                      <img class="rac-action-icon" src="content/images/autocare-actions/addItems.png" alt="" />
                    </a>
                    }

                    <a
                      [routerLink]="['/autocarejob', autocarejob.id, 'history']"
                      class="btn btn-success btn-sm rac-action-button"
                      data-cy="entityEditButton"
                      title="History"
                    >
                      <img class="rac-action-icon" src="content/images/autocare-actions/History.png" alt="" />
                      <!-- <span class="d-none d-md-inline">History</span> -->
                    </a>

                    <a
                      [routerLink]="['/autocarejob', autocarejob.id, 'itemissue']"
                      class="btn btn-primary btn-sm rac-action-button"
                      data-cy="entityEditButton"
                      title="Issue Item"
                    >
                      <img class="rac-action-icon" src="content/images/autocare-actions/issueItems.png" alt="" />
                      <!-- <span class="d-none d-md-inline"> Item</span> -->
                    </a>

                    <button
                      type="button"
                      (click)="navigateToInvoice(autocarejob)"
                      class="btn btn-success btn-sm rac-action-button"
                      data-cy="entityInvoiceButton"
                      title="Create Invoice"
                    >
                      <img class="rac-action-icon" src="content/images/autocare-actions/invoice.png" alt="" />
                    </button>

                    @if (canPrintAdvisorInstructions(autocarejob)) {
                    <a
                      [routerLink]="['/autocarejob', autocarejob.id, 'instructions']"
                      [queryParams]="{ print: 'true' }"
                      class="btn btn-success btn-sm rac-action-button"
                      data-cy="entityPrintInstructionsButton"
                      title="Print Instructions"
                    >
                      <img class="rac-action-icon" src="content/images/autocare-actions/print.png" alt="" />
                    </a>
                    }

                    <button
                      type="submit"
                      (click)="delete(autocarejob)"
                      class="btn btn-danger btn-sm rac-action-button"
                      data-cy="entityDeleteButton"
                      title="Delete Job"
                    >
                      <img class="rac-action-icon" src="content/images/autocare-actions/delete.png" alt="" />
                      <!-- <span class="d-none d-md-inline">Delete</span> -->
                    </button>

                    <span *ngIf="autocarejob.iswaiting" class="rac-action-status" title="Customer is waiting">
                      <img class="rac-action-icon" src="content/images/autocare-actions/waiting.png" alt="" />
                    </span>
                    <span *ngIf="autocarejob.updatetocustomer" class="rac-action-status" title="Call to customer after job done">
                      <img class="rac-action-icon" src="content/images/autocare-actions/end.png" alt="" />
                    </span>
                  </div>
                </td>
              </tr>
              } }
            </tbody>
          </table>
        </div>
        } @if (autocarejobs && autocarejobs.length > 0) {
        <!-- <div>
          <div class="d-flex justify-content-center">
            <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
          </div>

          <div class="d-flex justify-content-center">
            <ngb-pagination
              [collectionSize]="totalItems"
              [page]="page"
              [pageSize]="itemsPerPage"
              [maxSize]="5"
              [rotate]="true"
              [boundaryLinks]="true"
              (pageChange)="navigateToPage($event)"
            ></ngb-pagination>
          </div>
        </div> -->
        }
      </div>
    </div>
    <div
      class="tab-pane fade"
      [class.show]="activeMainTab === 'closed'"
      [class.active]="activeMainTab === 'closed'"
      id="service-charges"
      role="tabpanel"
      aria-labelledby="service-charges-tab"
    >
      <jhi-autocareclosejob></jhi-autocareclosejob>
    </div>
    <div
      class="tab-pane fade"
      [class.show]="activeMainTab === 'jobByDate'"
      [class.active]="activeMainTab === 'jobByDate'"
      id="job-by-date"
      role="tabpanel"
      aria-labelledby="job-by-date-tab"
    >
      <fieldset class="border p-3 bg-light job-by-date-panel">
        <div class="row align-items-end g-3 mb-3">
          <div class="col-12 col-md-4 col-lg-3">
            <label class="form-label fw-bold" for="field_jobByDate">Job Date</label>
            <div class="input-group">
              <input
                #jobByDateInput
                id="field_jobByDate"
                type="date"
                class="form-control job-by-date-input"
                name="jobByDate"
                [(ngModel)]="selectedJobByDate"
                [ngModelOptions]="{ standalone: true }"
                (change)="loadJobsByDate()"
              />
              <button class="btn btn-outline-secondary" type="button" (click)="openJobByDatePicker(jobByDateInput)" title="Pick date">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </div>
          </div>
          <div class="col-12 col-md-auto">
            <div class="d-flex gap-2">
              <button
                type="button"
                class="btn btn-primary"
                (click)="loadJobsByDate()"
                [disabled]="!selectedJobByDate || isLoadingJobByDate"
              >
                <fa-icon icon="sync" [spin]="isLoadingJobByDate"></fa-icon>
                <span class="ms-1">Load</span>
              </button>
              <button type="button" class="btn btn-outline-primary" (click)="setJobByDateToday()" [disabled]="isLoadingJobByDate">
                Today
              </button>
              <button type="button" class="btn btn-outline-secondary" (click)="clearJobByDate()" [disabled]="isLoadingJobByDate">
                Clear
              </button>
            </div>
          </div>
          <div class="col text-md-end small text-muted" *ngIf="selectedJobByDate">
            <span>Date: {{ selectedJobByDateLabel }}</span>
          </div>
        </div>

        <div *ngIf="!selectedJobByDate" class="alert alert-info mb-0">Select a job date to view ongoing and closed jobs separately.</div>

        <div *ngIf="selectedJobByDate && isLoadingJobByDate" class="text-center text-muted py-4">
          <fa-icon icon="sync" [spin]="true"></fa-icon>
          <span class="ms-2">Loading jobs...</span>
        </div>

        <div *ngIf="selectedJobByDate && !isLoadingJobByDate">
          <div *ngIf="jobByDateJobs.length === 0" class="alert alert-warning mb-0">No autocare jobs found for this date.</div>

          <ul *ngIf="jobByDateJobs.length > 0" class="nav nav-tabs mt-3" role="tablist">
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                [class.active]="activeJobByDateTab === 'ongoing'"
                id="job-by-date-ongoing-tab"
                href="#job-by-date-ongoing"
                role="tab"
                aria-controls="job-by-date-ongoing"
                [attr.aria-selected]="activeJobByDateTab === 'ongoing'"
                (click)="$event.preventDefault(); selectJobByDateTab('ongoing')"
              >
                Ongoing Jobs <span class="text-muted">({{ jobByDateOngoingJobs.length }})</span>
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                [class.active]="activeJobByDateTab === 'closed'"
                id="job-by-date-closed-tab"
                href="#job-by-date-closed"
                role="tab"
                aria-controls="job-by-date-closed"
                [attr.aria-selected]="activeJobByDateTab === 'closed'"
                (click)="$event.preventDefault(); selectJobByDateTab('closed')"
              >
                Closed Jobs <span class="text-muted">({{ jobByDateClosedJobs.length }})</span>
              </a>
            </li>
          </ul>

          <div *ngIf="jobByDateJobs.length > 0" class="tab-content pt-3">
            <div
              class="tab-pane fade"
              [class.show]="activeJobByDateTab === 'ongoing'"
              [class.active]="activeJobByDateTab === 'ongoing'"
              id="job-by-date-ongoing"
              role="tabpanel"
              aria-labelledby="job-by-date-ongoing-tab"
            >
              <div *ngIf="jobByDateOngoingJobs.length === 0" class="alert alert-light border mb-0">
                No ongoing jobs found for this date.
              </div>

              <div *ngIf="jobByDateOngoingJobs.length > 0">
                <div class="table-responsive table-entities open-job-table-wrap">
                  <table class="table table-sm table-bordered align-middle mb-0">
                    <thead>
                      <tr>
                        <th>Jobnumber</th>
                        <th>Vehiclenumber</th>
                        <th>Millage</th>
                        <th>Nextmillage</th>
                        <th>Jobtypename</th>
                        <th>Customername</th>
                        <th>Jobdate</th>
                        <th>Status</th>
                        <th class="job-by-date-actions-col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let autocarejob of paginatedJobByDateOngoingJobs; trackBy: trackId">
                        <td>{{ autocarejob.jobnumber }}</td>
                        <td>{{ autocarejob.vehiclenumber }}</td>
                        <td>{{ autocarejob.millage }}</td>
                        <td>{{ autocarejob.nextmillage }}</td>
                        <td>{{ autocarejob.jobtypename }}</td>
                        <td>{{ autocarejob.customername }}</td>
                        <td>{{ autocarejob.jobdate | formatMediumDatetime }}</td>
                        <td class="job-by-date-status">Ongoing</td>
                        <td class="text-end job-by-date-actions-col">
                          <div class="btn-group job-by-date-actions">
                            <a
                              [routerLink]="['/autocarejob', autocarejob.id, 'view']"
                              [queryParams]="jobByDateReturnQueryParams()"
                              class="btn btn-info btn-sm rac-action-button"
                              title="View Job"
                            >
                              <img class="rac-action-icon rac-view-action-icon" src="content/images/autocare-actions/view.png" alt="" />
                            </a>
                            <a
                              [routerLink]="['/autocarejob', autocarejob.id, 'instructions']"
                              [queryParams]="jobByDateReturnQueryParams()"
                              class="btn btn-warning btn-sm rac-action-button"
                              title="File Instructions"
                            >
                              <img class="rac-action-icon" src="content/images/autocare-actions/FillInstruction.png" alt="" />
                            </a>
                            @if (canUpdateAdvisorInstructionItems) {
                            <a
                              [routerLink]="['/autocarejob', autocarejob.id, 'instructions']"
                              [queryParams]="jobByDateUpdateItemsQueryParams()"
                              class="btn btn-secondary btn-sm rac-action-button"
                              data-cy="entityUpdateItemsButton"
                              title="Add Items"
                            >
                              <img class="rac-action-icon" src="content/images/autocare-actions/addItems.png" alt="" />
                            </a>
                            }
                            <a
                              [routerLink]="['/autocarejob', autocarejob.id, 'history']"
                              [queryParams]="jobByDateReturnQueryParams()"
                              class="btn btn-success btn-sm rac-action-button"
                              title="History"
                            >
                              <img class="rac-action-icon" src="content/images/autocare-actions/History.png" alt="" />
                            </a>
                            <a
                              [routerLink]="['/autocarejob', autocarejob.id, 'itemissue']"
                              [queryParams]="jobByDateReturnQueryParams()"
                              class="btn btn-primary btn-sm rac-action-button"
                              title="Issue Item"
                            >
                              <img class="rac-action-icon" src="content/images/autocare-actions/issueItems.png" alt="" />
                            </a>
                            <button
                              type="button"
                              (click)="navigateToInvoice(autocarejob)"
                              class="btn btn-success btn-sm rac-action-button"
                              title="Create Invoice"
                            >
                              <img class="rac-action-icon" src="content/images/autocare-actions/invoice.png" alt="" />
                            </button>
                            <a
                              *ngIf="canPrintAdvisorInstructions(autocarejob)"
                              [routerLink]="['/autocarejob', autocarejob.id, 'instructions']"
                              [queryParams]="jobByDatePrintQueryParams()"
                              class="btn btn-success btn-sm rac-action-button"
                              title="Print Instructions"
                            >
                              <img class="rac-action-icon" src="content/images/autocare-actions/print.png" alt="" />
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="d-flex justify-content-between align-items-center mt-3">
                  <jhi-item-count
                    [params]="{ page: jobByDateOngoingPage, totalItems: jobByDateOngoingJobs.length, itemsPerPage: itemsPerPage }"
                  ></jhi-item-count>
                  <ngb-pagination
                    [collectionSize]="jobByDateOngoingJobs.length"
                    [page]="jobByDateOngoingPage"
                    [pageSize]="itemsPerPage"
                    [maxSize]="5"
                    [rotate]="true"
                    [boundaryLinks]="true"
                    (pageChange)="navigateJobByDateOngoingPage($event)"
                  ></ngb-pagination>
                </div>
              </div>
            </div>

            <div
              class="tab-pane fade"
              [class.show]="activeJobByDateTab === 'closed'"
              [class.active]="activeJobByDateTab === 'closed'"
              id="job-by-date-closed"
              role="tabpanel"
              aria-labelledby="job-by-date-closed-tab"
            >
              <div *ngIf="jobByDateClosedJobs.length === 0" class="alert alert-light border mb-0">No closed jobs found for this date.</div>

              <div *ngIf="jobByDateClosedJobs.length > 0">
                <div class="table-responsive table-entities open-job-table-wrap">
                  <table class="table table-sm table-bordered align-middle mb-0">
                    <thead>
                      <tr>
                        <th>Jobnumber</th>
                        <th>Vehiclenumber</th>
                        <th>Millage</th>
                        <th>Nextmillage</th>
                        <th>Jobtypename</th>
                        <th>Customername</th>
                        <th>Jobdate</th>
                        <th>Status</th>
                        <th class="job-by-date-actions-col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let autocarejob of paginatedJobByDateClosedJobs; trackBy: trackId">
                        <td>{{ autocarejob.jobnumber }}</td>
                        <td>{{ autocarejob.vehiclenumber }}</td>
                        <td>{{ autocarejob.millage }}</td>
                        <td>{{ autocarejob.nextmillage }}</td>
                        <td>{{ autocarejob.jobtypename }}</td>
                        <td>{{ autocarejob.customername }}</td>
                        <td>{{ autocarejob.jobdate | formatMediumDatetime }}</td>
                        <td class="job-by-date-status">Closed</td>
                        <td class="text-end job-by-date-actions-col">
                          <div class="btn-group job-by-date-actions">
                            <a
                              [routerLink]="['/autocarejob', autocarejob.id, 'view']"
                              [queryParams]="jobByDateReturnQueryParams()"
                              class="btn btn-info btn-sm rac-action-button"
                              title="View Job"
                            >
                              <img class="rac-action-icon rac-view-action-icon" src="content/images/autocare-actions/view.png" alt="" />
                            </a>
                            <a
                              [routerLink]="['/autocarejob', autocarejob.id, 'history']"
                              [queryParams]="jobByDateReturnQueryParams()"
                              class="btn btn-success btn-sm rac-action-button"
                              title="History"
                            >
                              <img class="rac-action-icon" src="content/images/autocare-actions/vehicle.png" alt="" />
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="d-flex justify-content-between align-items-center mt-3">
                  <jhi-item-count
                    [params]="{ page: jobByDateClosedPage, totalItems: jobByDateClosedJobs.length, itemsPerPage: itemsPerPage }"
                  ></jhi-item-count>
                  <ngb-pagination
                    [collectionSize]="jobByDateClosedJobs.length"
                    [page]="jobByDateClosedPage"
                    [pageSize]="itemsPerPage"
                    [maxSize]="5"
                    [rotate]="true"
                    [boundaryLinks]="true"
                    (pageChange)="navigateJobByDateClosedPage($event)"
                  ></ngb-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
