<div class="rac-login-page">
  <div class="rac-login-wrap">
    <img src="content/images/rac-login-logo.jpg" alt="Rathaweera Auto Care" class="rac-login-logo" />

    <div class="rac-login-panel">
      <div class="rac-login-heading" data-cy="loginTitle">Log In</div>

      <div class="rac-login-body">
        @if (authenticationError()) {
          <div class="alert alert-danger rac-login-alert" data-cy="loginError">
            <strong>Failed to sign in!</strong> Please check your credentials and try again.
          </div>
        }

        <form class="form" (ngSubmit)="login()" [formGroup]="loginForm">
          <div class="input-group rac-input-group">
            <span class="input-group-text"><fa-icon icon="user"></fa-icon></span>
            <input
              #username
              type="text"
              class="form-control"
              name="username"
              id="username"
              formControlName="username"
              required
              data-cy="email"
              autocomplete="username"
            />
          </div>

          <div class="input-group rac-input-group">
            <span class="input-group-text"><fa-icon icon="lock"></fa-icon></span>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              formControlName="password"
              required
              data-cy="password"
              autocomplete="current-password"
            />
          </div>

          <div class="rac-login-options">
            <label class="rac-remember" for="rememberMe">
              <input type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" />
              <span>Remember me</span>
            </label>
            <a routerLink="/account/reset/request" data-cy="forgetYourPasswordSelector">Forgot password?</a>
          </div>

          <button type="submit" class="btn rac-login-button" data-cy="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
